[Unit]
Description=DodoFM polling php-service

[Service]
Type=simple
WorkingDirectory=/root
PIDFile=/var/run/dodofm.pid
ExecStart=/usr/bin/php lyradio.php
#ExecStop=pkill --pidfile /var/run/audiotubebot.pid
#Restart=on-failure
Restart=always
RestartSec=5
SyslogIdentifier=php-dodofm
User=root
#ExecStartPost=/bin/sh -c 'umask 022; pgrep audiotubebot > /var/run/dodofm.pid'
[Install]
WantedBy=multi-user.target